<?xml version="1.0" ?>
<launch> 
 <rosparam command="load" file="$(find fira_launch)/default_config/AvoidChallenge.yaml"/>
 <node name="scan_tf" pkg="scan_tf" type="scan_tf" respawn="true" respawn_delay="5"/>
 <node name="strategy_param_server" pkg="param_convey" type="strategy_param_server"/>
 <node name="mjpeg_server" pkg="mjpeg_server" type="mjpeg_server" respawn="true" respawn_delay="5"/>
 <node name="avoidance" pkg="vision" type="avoidance" respawn="true" respawn_delay="1"/>
 <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />
</launch>
